.wholepage {


}

.content {

}

.header{
	background-color: gold;
	width: 60%;
	padding: 5px 12px;
	margin: 8px 0;
	text-align: center;
	border-radius: 4px;
}

h1 {
	font-family: sans-serif;
	color: grey;
}

h2 {
	font-family: sans-serif;
	color: grey;
}

div {
	font-family: sans-serif;
	color: grey;
}

.searchbox {
	float:left;

	width: 100%;
}

.searchpage {
	width: 60%;
	display: grid;
    grid-template-columns:33% 33% 33%;
    grid-gap: 10px;
}

.result {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: sans-serif;
	color: grey;
	padding: 5px;
	text-align: center;
}


.result:hover .hideresult {
	display: block;
}

.result:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hideresult{
/*	display: none; */
	border-top: 2px solid lightgrey;
}

.resulttable {
	width:100%;
	text-align: left;
}



form {
	width: 60%;
	display: grid;
    grid-template-columns:33% 33% 33%;
    grid-gap: 5px;
}


.editlongtext {
	padding: 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-family: sans-serif;
	color: grey;
	display: block;
	grid-area: auto / auto / auto / span 3;

}


.editinput {
	padding: 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-family: sans-serif;
	color: grey;
}


label {
	grid-column: 1/2;
	font-family: sans-serif;
	color: grey;
	padding-right: 24px;
}

input[type=longtext]{
	transition: width 0.4s ease-in-out;
	width: 95%;

}

input[type=longtext]:focus{
	width: 98%;
}

input[type=search]{

	background-image: url('./searchicon.png');
	background-size: 20px 20px;
	background-position: 3px 5px;
	background-repeat: no-repeat;
	padding-left: 25px;
	background-color: lightgrey;
}

input[type=date]{
	font-family: sans-serif;
}

input[type=submit]{
	float: left;
	text-align: center;
	width: 110px;
	padding: 5px 5px;
	margin: 3px 3px;
	background-color: grey;
	border: none;
	font-size: larger;
	color: gold;
}

input[type=reset]{
	float: left;
	text-align: center;
	width: 90px;
	padding: 5px 5px;
	margin: 3px 3px;
	background-color:gold;
	border: none;
	font-size: larger;
	color: grey;
}

input {
	width: 95%;
	border-bottom: 2px solid gold;
	border-radius: 4px;
	padding: 5px 5px;
	outline: none;
	background-color: lightgrey;
	color: grey;
	font-size: large;
}

input:focus{
	background-color: lightyellow;
}

.backbutton {
	display: block;
	text-align: center;
	float: left;
	width: 50px;
	padding: 5px 5px;
	margin: 3px 3px;
	border: none;
	border-radius: 4px;
	outline: none;
	background-color: lightblue;
}

a {
	text-decoration: none;
	font-size: larger;
	font-family: sans-serif;
	color: grey;
}
